header{
    text-align: center;
}
body{
    background-color: black;
    background: url("../images/home1.jpg");
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "nunito", sans-serif !important;
    font-weight: 1000;
    color: rgb(7, 50, 245);
    
}

#Start-screen {
    text-align: center;
}

#question-master{
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight:1000; 
    color:rgb(240, 245, 239);
}

#question-master-body {
    background-repeat: no-repeat;
    background-size: cover; 
}